*{
  background-color: black;
  color: white;
  font-family: 'Kalam', cursive;
}

.top-right {
  position: absolute;
  top: 30px;
  right: 40px;
}

.box-information{
  border: medium solid #E41F7B;
  border-radius: 7px;
  padding: 8px 40px;
  margin: 20px 50px;
}

/* div.interesting-data{

} */

