<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/map_Icon.png" type="image/png">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/header.style.css">
  <link rel="stylesheet" href="../styles/home.style.css">
  <link href="./infoLanguages.html">

  <title>Conociendo paises</title>
</head>
<body>

  <header>
    <div class="header-container">
      <div class="tooltip">
        <a href="#interesantes"><img src="../img/idea-icon.svg" class="idea-img"></a>
        <span class="tooltiptext">¿Sabías que?...</span>
      </div>
      <div class="search-container">
        <div class="input-container">
          <input class="search-input" list="nameCountries" id="searchCountries" name="countries"
            placeholder="¿Qué país quieres conocer hoy?">
        </div>
        <a href="#info-pais" class="img-container"> <img src="../img/lupa.png.webp" class="img-container" id="btnSearch"
            onclick="selectedSearch()"></a>
        <datalist id="chooseCountry"></datalist>
      </div>
    </div>


  </header>
  <main>
    <div class="container">
      <img src="../img/tierra.jpeg" alt="earth" style="width:100%">
    </div>

    <div class="box-information">
      <p>En esta página encontrarás información sobre los países del planeta tierra,
        puedes filtrar para conocer cerca de 250 países. Se encuentra lo mayor posible en traducción al idioma español
      </p>
    </div>
    <section id="interesantes">
      <hr class="divider">
      <h4 class="title">¿Sabías que?...</h4>
      <div class="grid-container" id="grid-container">
        <!-- Contenido dinamico -->
      </div>
    </section>
    <section id="info-pais">
      <hr class="divider">
      <div class="astronaut-container">
        <img src="../img/astronaut.gif" style="width:300px">
        <h4 class="title">Ups! Parece que no has buscado un país...</h4>
      </div>
    </section>
  </main>


  <script src="../Scripts/index.js"></script>
  <script src="../Scripts/soft-scroll.js"></script>
  <script src="../Scripts/sabiasQue.js"></script>

</body>

</html>