body{
  width: 100%;
}

.body-container {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border-color: white;
  align-items: center;
  padding: 20px;
}

.info-container {
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 2fr));
  margin: 0 50px;
  gap: 20px;
}

.grid-item {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1px 0px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 210px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  z-index: 0;
}

/* Position the front and back side */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.img-card {
  opacity: 1;
  display: flex;
  width: 100%;
  height: 80%;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-top: 8%;
  border: 1px solid grey;
  border-radius: 10px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.flip-card:hover .img-card  {
  opacity: 0.3;
}

.flip-card:hover:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ff4f9e9d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5%;
}

.header-filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.filter-container {
  height: 35px;
  width: 300px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: grey;
  justify-content: center;
}

.input-container {
  height: 35px;
  width: 300px;
  display: flex;
  border: none;
  align-self: center;
  background-color: gray;
  border-radius: 8px;
  margin-right: 30px;
  font-size: 15px;
  padding-left: 15px;
}

.mostrar-mas{
  justify-content: center;
  background-color: #E41F7B;
  border-radius: 5%;
  padding: 1%;
  border-color: none;
  font-size: 15px;
}

.more-flags{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.know-country-img {
  width: 30px;
  margin: 0 60px;
  padding: 3px;
  cursor: pointer;
  border-radius: 30%;
  transition: box-shadow 0.3s ease;
}

.know-country-img:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

::placeholder {
  color: white; /* Puedes cambiar "red" al color que desees */
}